<article id="contact">	
	
	<%= image_tag '/assets/pics/contact_pigeon.png', :id => 'contact_pigeon'%>
	<div id='contact_form'>
		<%= render'contacts/form', :contact => @contact %>
	</div>


</article>