<article id="contact">	
	<div id="contact_cont">
	<%= image_tag '/assets/pics/contact_pigeon.png', :id => 'contact_pigeon'%>
	<div id='contact_form'>
		<%= render'contacts/form', :contact => @contact %>
	</div>
</div>

</article>