<article id="about">

<div id="about_content" class="page_content"><!--useful to create the 960px limit-->
	<!-- <img id="bubble" style="display:none" src="pics/about_me_triggered.png"></img> -->
	<div id="panel_and_me">
	<div class="panel" id="about_panel" style="opacity: 85%;">
		<h1>HELLO FRIEND!</h1>
		<p>My name is Teresa Tarn. Companies have called me a UX Designer, Human Factors Engineer, and Learning Researcher. Those that know me in the wild often call me a snowboarding powderhound, crag spider, and eggplant fanatic. Both parties have celebrated my passion for creating lasting, delightful surprises through unconditional empathy, multimodal doodles, and endless hours of hacking. You can see how I delivered some of those surprises in my portfolio.</p>
		<p>I think I'm much more interesting in person than on <a id="new_win" class="link" href="docs/TARN_Resume_2014.pdf">paper</a>, 
		but I'll leave that up to you. </br></p>
		<div id="connect_bar">
		<p>Connect with me via: </p>
		
		<ul id="social_icons">
			<li><a href="mailto:teresatarn@gmail.com" id="gmail_icon" class="social_icon"></a></li>
			<li><a href="www.linkedin.com/pub/teresa-tarn/a/599/b9a" id="li_icon" class="social_icon"></a></li>
			<li><a href="www.github.com/tarnelope" id="github_icon" class="social_icon"></a></li>
		</ul>
	</div>
		<p></p>
	</div>
	<a class="trigger" id="about_trig">	 
		<%= image_tag '/assets/pics/about_me2.png', :id=>'about_me', :style => 'display:block'%>
	</a>
	</div>
</div>
</article>