		<div class="prof_experience" id="adobe">
			<div class="prof_desc" id="adobe_desc">
				<%= image_tag '/assets/logos/adobe.png', :class => "company_logo" %>
			<p>My time as a Learning Research Intern at Adobe was everything I could ask for and more in terms of career guidance and skill building. The defining project of this internship was an User Interaction Study Instruction Kit. More details and project poster are provided below.</p>
			</div>
			
			<div class="prof_desc_body">
			<%= link_to image_tag('/assets/posters/adobe_poster.png', :class => "poster_thumb"), '/assets/posters/adobe_poster.png'%> </br>
			<u>Problem: </u>Adobe.com Help documents continually received “unhelpful” ratings even after multiple revisions. The Community Help & Learning team presented me with 2 tasks: 
				<ol> <li>Find the sources of negative reviews</li> 
					<li>Deliver a sustainable, scalable means for the CHL team to independently tackle the first task.</li>
				</ol>
<u>Approach: </u>Over 3 months, I...
</div>
	<ul>
	<li>Developed research methodology based on feedback from in-depth interviews across CHL team.</li>
	<li>Selected research tool (Ethn.io) and collaborated with their developers to customize the tool to our specific needs.</li>
	<li>Developed instructional starter kit (Wiki, Confluence) that guided the audience through both the setup of the research and best known methods.</li>
	<li>Delivered a series of brown bag meetings and 1-on-1 sessions with the CHL team both online and in-person for in-depth, hands-on instruction for the tools and research process.</li>
</ul>
	</br>
<u>Result:</u> Several long-standing “problem pages” were appropriately fixed using the research technique and more pages were set to be studied after my internship ended.
</br>
<u>My Role:</u> Independently drove the project.
</br>
<u>Tools Used:</u> Ethnio. Confluence. 

</div>
		</div><!-- End #adobe -->		