		<div class="prof_experience" id="intel">
			<div class="prof_desc">	<%= image_tag '/assets/logos/intel.png', :class => "company_logo" %>
			<p>At Intel, I was part of the PC Experience Planning team, tasked with designing experiences targeted for delivery on Intel-powered devices 3-5 years in the future. My team and I also drove the transformation of Intel into a more design-oriented product development company. Below is a brief, non-NDA-violating overview of some of the projects I helped develop. </p>
		
			<u>Problems: </u>
				<ul> <li>How to provide comprehensive support for devices in classrooms without consistent electricity and internet connectivity.</li> 
					<li>How to enable entrepreneurship in homes with strict space and power constraints.</li>
					<li>How to reduce our dependency on long, complicated passwords in our digital lives.</li>
					<li>How to expand the ways by which we express ourselves using our digital devices.</li>
					<li>How to deliver easy, high quality video editing on touch devices.</li>
				</ul>
				
<u>Approach: </u>My role varied from project to project but most of my responsibilities lied in the concept and interaction definition space. The following were some of my most common tasks.
</div>
	<ul>
	<li>Crafting qualitative research methodologies and overseeing their implementation. </li>
	<li>Creating personas and assets that enabled greater empathy for them. </li>
	<li>Storyboarding.</li>
	<li>Developing wireframes, mockups, and interactive prototypes using modern web languages and the appropriate professional software.</li>
</ul>
<u>Results: </u>
	<ul>
	<li>Established the set of core user experiences that will guide what and how Intel will deliver to the market, a first for the company that has traditionally been technology-driven. </li>
	<li>Introduced UX principles across Intel and trained other teams on how to incorporate them into their objectives.</li>
	<li> Defined the interaction and both UX and technical requirements for products that addressed the above stated problems. </li>
	<li>Oversaw the initial user and market research and early-stage concepting for video editing software being developed by CyberLink that was introduced at Intel Developer Forum 2013. </li>
</ul>

</br>
<u>My Role:</u> Among all the projects, I served as an UX Designer with a focus on concepting and transforming our ideas into visual and interactive artifacts.
</br>
<u>Tools Used:</u> Adobe Creative Suite. Omnigraffle. Azure. Balsamiq. Visual Studio. Linq
</br>

For more information, please contact me.
</br>
<%= link_to image_tag('/assets/prof/emerge.png', :class => "proj_thumb"), '/assets/prof/emerge.png'%>
<%= link_to image_tag('/assets/prof/ITJustWorksInstall.png', :class => "proj_thumb"), '/assets/prof/ITJustWorksInstall.png'%>
<%= link_to image_tag('/assets/prof/lid2.png', :class => "proj_thumb"), '/assets/prof/lid2.png'%>
</br>
		
			
		</div><!-- End prof_experience intel-->
	</br>