<article class="portfolio">
	
	<div class="portfolio_cont">
		<a href="professional_experience"><div class="portfolio_btn" id="prof_btn">
			<div class="portfolio_btn_label">Professional Experience</div></a>
		</div></a>
		<div class="portfolio_btn" id="ldt_btn">
			<div class="portfolio_btn_label">Learning Design & Technology Master's Program</div>
		</div>
		<div class="portfolio_btn" id="mp3_btn">
			<div class="portfolio_btn_label"> MPooh3 </div>
		</div>
		<a href="mobileUI"><div class="portfolio_btn" id="mobileUI_btn">
			<div class="portfolio_btn_label">Mobile UI Design</div>
		</div></a>
		<a href="fun"><div class="portfolio_btn" id="fun_btn">
			<div class="portfolio_btn_label">Fun Stuff</div>
		</div></a>
		<div class="portfolio_text"><p>This is only a sample of my work. Please contact me to learn more about what I have done and can do.</p></div>
		
		<%= image_tag '/assets/pics/goldfish.png', :class=>"goldfish_small", :id => "goldfish_small1"%>
		<%= image_tag '/assets/pics/goldfish.png', :class=>"goldfish_small", :id => "goldfish_small2"%>
		<%= image_tag '/assets/pics/goldfish_big.png', :id=>"goldfish_big"%>
	</div>

</article>