<article id="portfolio">
	<div class="portfolio_cont">
		<div class="portfolio_btn" id="ux_btn"></div>
		<div class="portfolio_btn" id="fun_btn"></div>
		<div class="portfolio_btn" id="fun_btn"></div>
		<div class="portfolio_btn" id="fun_btn"></div>
		<div class="portfolio_btn" id="fun_btn"></div>
		<div class="portfolio_btn" id="fun_btn"></div>
	</div>
	<%= image_tag 'assets/pics/goldfish.png', :id=>"goldfish"%>
</article>