<article class="portfolio">
	<div class="project">
		<div class="proj_experience" id="mpooh3">
			<div class="proj_desc" id="mpooh3_desc">
				<%= image_tag '/assets/ldt/mPooh3.gif', :class => "company_logo"%>
				<h3 style="padding-top: 0;">MPooh3: A music player designed specifically for toddlers. </h3>
			<p>A fun final project for a electrical engineer course during my final senior quarter year at Stanford. I think this was my favorite project throughout my undergrad career in terms of novelty, challenge, and end result.</p>
			</div>
			
			<div class="proj_desc_body">
				<%= image_tag '/assets/ldt/pooh/pooh.png', :class => "image", :id=>"pooh_pic" %>
			</br>
			<u>Problem: </u>I wanted to build a personal music player that catered to the needs of toddlers. Most available players in the market did not meet the safety, durability, and gross motor functionality needs of toddlers. 
		</br>
		
<u>Approach: </u>
</div>
	<ul>
	<li>Observed toddlers at play.</li>
	<li>Created a paper prototype to test music player's control placement.</li>
	<li>Designed the circuit board to meet the packaging requirements (this was especally exciting as it was my first foray with electronics).</li>
	<li>Tailored a Pooh stuff animal to house the electronics.</li>
</ul>
	</br>
	<%= image_tag '/assets/ldt/pooh/paper_pooh.png', :class => "image" %>
<u>Result:</u> A fully functional prototype was completed by the course's final expo day. The video below was taken a few days before the expo and displays the main interactions with minor bugs. Those bugs were resolved shortly after.
</br>
<iframe class="image" width="420" height="315" src="//www.youtube.com/embed/Y-Z8ZmrEPmQ" frameborder="0" allowfullscreen></iframe> 
<u>My Role:</u> Independently drove the project.
</br>
<u>Tools Used:</u> Ethnio. Confluence. 

</div>
		</div><!-- End #mpooh3 -->		
		
		
	</div>
</article>