$transGray: rgba(0, 0, 0, 0.7);
$gildaFont: 'Gilda Display', serif;
* {

}
#main, #about {
	height: 50em;
	float:left;
}
#contact, #portfolio {
	height: 38.875em;
}

#main, article, #home_content, header {
	width: 100%;
}

.header_cont, #home_content, #big_me, .proj_content{
	margin-right: auto;
	margin-left: auto;
}

/* - //////////////// HEADER START/////////////////// - */
header {
	font-family:'CaviarDreams', Arial, sans-serif;
	font-size: 40px;
	top: 0;
	padding-top: 0.333em;
	position: fixed;
	background-color: white;
	z-index: 999;
	.header_cont {
		text-align: center;
	}
}
/* - //////////////// HEADER END/////////////////// - */

/* - //////////////// NAME START/////////////////// - */
.name{
border-bottom: 2px dotted black;
display: inline;
width: 400px;
	a:link, a:visited {
		text-decoration: none;
		color: black;
	}
}
/* - //////////////// NAME END/////////////////// - */

/* - //////////////// NAV START/////////////////// - */
.nav_cont {
	ul{
	font-size: 16px;
	text-align: center;
	padding-right: 40px;
	}
	li {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	}
	a:hover, .proj_content a:hover {
	/*text-shadow: 1px 1px 1px #444; */
		font-weight: bold;
	}
	a:link, a:visited {
	text-decoration: none;
	color: black;
	}
}
/* - //////////////// NAV END/////////////////// - */

/* - //////////////// CONTACT PAGE START /////////////////// - */
#contact {
	background: url(/assets/pics/contact_bg.png) no-repeat center 0% scroll;
	.notice {
		position: absolute;
		float: left;
		color: red;
		font-weight: bold;
		opacity: 0.85;
		filter: alpha(opacity=85);
		display: absolute;
		top: 2em;
		left: -17em;
		width: 15em;
	}
}
#contact_cont {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}
#contact_pigeon {
	margin-top: 21em;
	float: left;
}
#contact_form {
	font: 20px/26px $gildaFont;
	color: $transGray;
	padding: 1em;
	background: white;
	float: right;
	margin-top: 8em;
	margin-right: 4.15em;
	border: 3px dashed rgba(0, 0, 0, 0.4);
	#contactFormTitle {
		display: inline-block;	
		h3 {
			display: inline-block;
			float: left;
		}
		#requiredLabel {
			padding-top: 2em;
			float: left;
			font-size: 12px;
			text-indent: 2em;
		}
	}
	.formField {
		float: right;
		margin-left: 1em;
		width: 36em;
	}
	#contactFormBtn {
		font-family: $gildaFont ;
		float: right;
		margin-right: 0.69em;
		background: #FFCC00;
		width: 15em;	
		font-size: 1em;	
		border: none;
		padding: 3px;
		-webkit-appearance: none;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	}
	
}
/* - //////////////// CONTACT PAGE START /////////////////// - */